* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
#display {
  display: flex;
  color: white;
  display: flex;
  font-size: 80px;
  flex-direction: row-reverse;

  height: 80px;
  width: 500px;
  margin-left: 125px;
  margin-top: 50px;
}
#container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  height: 500px;
  width: 600px;
  flex-direction: column;
  gap: 20px;
}
.num {
  border: 2px solid black;
  border-radius: 80px;
  background-color: rgb(110, 105, 105);
  color: white;
  font-size: 40px;
  width: 100px;
  height: 100px;
}
.operat {
  background-color: rgb(28, 63, 18);
}
.equals {
  background-color: rgb(28, 63, 18);
}
.delete {
  background-color: rgb(28, 63, 18);
}
.mouseenter {
  background-color: rgb(28, 63, 18);
  border: 2px solid black;
  border-radius: 80px;
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
}
.mouseenter1 {
  border: 2px solid black;
  border-radius: 80px;
  background-color: rgb(110, 105, 105);
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
}
